@using Library.Models

<tr>
	<th class="small text-muted pr-3" scope="row">Object ID</th>
	<td>@Model.CreatedDate.ToShortDateString()</td>
</tr>
<tr>
	<th class="small text-muted pr-3" scope="row">Created</th>
	<td>@Model.CreatedDate.ToString("yyyy.MM.dd hh:mm")</td>
</tr>
<tr>
	<th class="small text-muted pr-3" scope="row">Last Modified</th>
	<td>@Model.LastUpdateDate.ToString("yyyy.MM.dd hh:mm")</td>
</tr>
<tr><th class="small text-muted p-3"></th></tr>

@code {
	[Parameter]
	public ObjectModel Model { get; set; }
}